<h1>Show Page</h1>

<p>Name: <%= @plant.name%></p>
<p>Size: <%= @plant.size %></p>
<p>Price: <%= @plant.price%></p>
<p>Desciption: <%= @plant.description %></p>
<p>Available: <%= @plant.quantity%></p>
<img src="<%=@plant.img_url%>" alt="profile pic">
