<h1>Add to cart</h1>

<%= form_for @cart do |f| %>
   <%= f.label "Confirm Purchase: #{@plant.name}" %>
   <br> <%= f.hidden_field  :buyer_id, value: @current_buyer.id %>

  
    <%= f.hidden_field  :plant_id, value: @plant.id  %>

    <%= f.submit %>

<% end %>
