
<div class="mx-auto text-center">
<h1>Edit Account</h1>

<img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/plants-in-pots-royalty-free-image-1574464255.jpg?crop=1.00xw:0.752xh;0,0.0649xh&resize=1200:*" height="400" width="700">


<%= form_for @buyer do |f|  %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :address %>
  <%= f.text_area :address %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.label :img_url %>
  <%= f.text_field :img_url %>

  <br><br><%= f.submit %>
<% end %>
</div>