<!DOCTYPE html>
<html>
  <head>
    <title>BrooklynsBloom</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Brooklyn's Bloom</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" <%= link_to 'Home', plants_path %></a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" <%= link_to 'Profile', buyers_path %></a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" <%= link_to 'About', "/shops/1" %></a>
            </li>
            <% if @current_buyer %>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" Welcome! <%= @current_buyer.name %></a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" <%= link_to "Log-out", sessions_logout_path, method: :delete %></a>
            </li>
            <% else %>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" <%= link_to 'Sign-up', new_buyer_path %></a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" <%= link_to 'Login', new_login_path %></a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" <%= link_to 'Cart', carts_path %></a>
            </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
  


    <%= yield %>
 

  <!-- Footer -->
    <footer class="bg-black small text-center text-black-50">
      <div class="container">
        <br> Copyright &copy; Dolly & Shadman 2020
      </div>
      <br>
      <br>
      <br>
      <br>
    </footer>


    <!-- Bootstrap core JavaScript -->
    <script src="http://blackrockdigital.github.io/startbootstrap-grayscale/vendor/jquery/jquery.min.js"></script>
    <script src="http://blackrockdigital.github.io/startbootstrap-grayscale/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="http://blackrockdigital.github.io/startbootstrap-grayscale/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="http://blackrockdigital.github.io/startbootstrap-grayscale/js/grayscale.min.js"></script>
 </body>
</html>



